[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A Clojure library for parsing, downloading and reading email from IMAP servers.
[access "refs/*"]
	owner = group user/sergey (sgrankin)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sergey (sgrankin)
	label-Verified = -1..+1 group user/sergey (sgrankin)
	push = group user/sergey (sgrankin)
	read = group user/sergey (sgrankin)
	rebase = group user/sergey (sgrankin)
	removeReviewer = group user/sergey (sgrankin)
	submit = group user/sergey (sgrankin)
[access "refs/heads/*"]
	create = group user/sergey (sgrankin)
	push = +force group user/sergey (sgrankin)
	pushMerge = group user/sergey (sgrankin)
	read = group user/sergey (sgrankin)
[access "refs/tags/*"]
	push = group user/sergey (sgrankin)
	push = +force group user/sergey (sgrankin)
